/*ЛЕКЦИЯ 5 СТИЛИЗАЦИЯ
селекторы по тэгу p{}, по классу .title{}, по тегу с классом p.warning, по id #promo,тэг внутри тега с id h1#promo, контекстный селектор(вложенный тэги a внутри тэга с классом promo) .promo a{}
Псевдоклассы усиливают обычные селекторы, позволяет выбирать элементы с учетом состояния и расположения относительно других элемментов
link,hover,active,focus,visited/root,first-child,last-childm,nth-child()(Выбирать элементы структуре)/valid,optional,checked, enabled,disabled,required
Псевдоэлементы создают виртуальные тэги и позволяют стилизовать их ::after,::before,::first-letter,::first-line
псевдоэлементы содаются внутри своего родителя
Каскадность. к одному элементу можно применяться несколько css правил
в этом случае свойства комбинируются. конфликт свойств - если свойство повторяется, то используется приоритетность css-селекторов
если селекторы одинаковые, то побеждает то, которое ниже в коде
специфичность и приоритеты, чем селектор специфичнее, тем он приоритетнее. чем  меньше область действия селектора тем он более приоритетный
типы значений: абсолютные -px, относительные % rem em vm vh, ключевые слова center, red, uppercase, цвета #f00, #ff0000, rgb(255,0,0), rgba(255,0,0,0.5),hsl(0,50%,100%),hsla(0,50%,100%,0.5)
функции width: calc(100% -100px) linear-gradient(45deg,yellow,green) content: att(href)
произвольные строки("привет"), css-директивы начинаются с @ @font-face{} @media{}
Порядок свойств позиционирование, блочная модель,типография, оформление, анимация, разное.
шрифты font-family: нестандартный шрифт, веб-безопасный шрифт, тип шрифта
Базовая стилизация. Нормализация, Нестандартные шрифты
Правила стилизация не задавать глобальные стили для тегов(кроме a и img body html)
normalize обеспечивает некоторую степень кросбраузерности в стилях по умолчанию, меняет настройки по умолчанию для некоторых тегов в разных браузерах и приводит их к одному виду
Шрифт - стандартный или нет. css font stack. если нет, то google-fons. если там нет, то font squirrel, загружаем туда шрифт в формате ttf и подключаем к проекту шрифты в формате wooff2
Лучше иногда не подклбчать шрифт, а просто вставить картинку
IE11 не поддерживает woff2
rem зависит от body
em зависит от родительского элемента*/
body{
	margin: 0; /*в некоторых браузерах по умолчанию есть отступы, поэтому надо сбросить*/
	padding: 0;

	font-family:"PT Sans Narrow", Arial, sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #ffffff;
	text-transform: uppercase;
}

